[Desktop Entry]
Type=Application
Name=Godot Engine
GenericName=Game engine
Comment=2D and 3D game engine
Exec=/home/jso/.local/bin/godot --quiet
Icon=/home/jso/.local/opt/godot/icon.png
Terminal=false
Categories=Development;IDE;
StartupWMClass=Godot
